<div class="container">
  <div class="m-3 text-white">
    <h1 class="title">Gestión de Alumnos</h1>
  </div><br>
  <br>
    <h5 class="text-center text-white mb-3">Consultas</h5>
  <div class="mb-2 d-flex gap-5 w-75 text-center m-auto">
    <div class="input-group col">
      <select class="col-5 form-select" name="planseleccionado" id="" [(ngModel)]="planseleccionado">
        <option *ngFor="let item of arraydePlan" [value]="item._id">{{item.tipo}}, Dias: {{item.cantidadDias}}</option>
      </select>
      <button class="btn outline-custom" type="button" id="button-addon2"
        (click)="buscarporPlan()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
    </div>
    <div class="input-group col">
      <input [(ngModel)]="dni" type="number" class="form-control" placeholder="DNI" aria-label="DNI"
        aria-describedby="button-addon2" name="dni" id="dni">
      <button class="btn outline-custom" type="button" id="button-addon2" (click)="buscarporDni()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
    </div>
  </div>

  <div class="text-end">
    <button class="btn primary-custom btn-sm" (click)="cargarAlumnos()">Restaurar Filtro</button>
  </div>
  <br>
  <div class="table table-responsive">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">DNI</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arraydeAlumnos">
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.nro_documento}}</td>
          <td>{{item.domicilio}}</td>
          <td>{{item.email}}</td>
          <td class="text-center mx-auto ">
           
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn-sm btn btn-info" (click)="modificarAlumno(item._id)"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</button>
              <button type="button" class="btn btn-sm outline-custom" (click)="crearPago(item._id)">Pago</button>
              <button type="button" class="btn btn-sm outline-custom" (click)="creaRutina(item._id)">Rutina</button>
              <button type="button" class="btn btn-sm outline-custom" (click)="crearRegistro(item._id)">Registro</button>
              <button type="button" class="btn btn-sm outline-custom" (click)="crearAsistencia(item._id)">Asistencia</button>
              <button type="button" class="btn btn-sm primary-custom" (click)="irSeguimiento(item._id)"><i class="fa fa-pencil-alt" aria-hidden="true"></i> Seguimiento</button>
            </div>
                          
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
</div>