<div class="container"> 
    <a class="btn" [routerLink]="['/entrenador/nuevo-usuario/']"><i class="fa fa-caret-left text-custom"
        aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
    <div class="row my-auto text-white">
        <div class="table-responsive">
            <table class="table table-dark table-striped" [mfData]="arraydeUsuarios" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead class="text-center">
                    <tr>
                        <th scope="col">
                            <mfDefaultSorter by="_id">Nombre de Usuario</mfDefaultSorter>
                        </th>
                        <th scope="col">
                            <mfDefaultSorter by="monto">Estado</mfDefaultSorter>
                        </th>
                        <th scope="col">
                            <mfDefaultSorter by="metodoPago">Perfil</mfDefaultSorter>
                        </th>
                        <th scope="col">
                            
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let item of mf.data">
                    <td>{{item.username}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{item.perfil.nombre | uppercase}}</td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
              </table>
        </div>
</div>