<div class="text-light">

  <div class="px-4 py-5 my-5 text-center bg-gradient ">
    <h1 class="display-1 h1" style="font-family: Impact;"><b>LOGRA TUS METAS</b></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti temporibus
        quibusdam voluptas sint odit libero! Illo ab laboriosam delectus, odit odio voluptate harum culpa. Delectus
        doloremque nihil similique ipsum?</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn text-dark btn-lg px-4" style="background-color: #c8f500" >Primario</button>
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3" style="color: #c8f500">Secundario</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto p6 text-center">
      <h2 style="font-family: Impact;">Cómo entrenamos</h2>
      <div class="mx-auto">
        <p class="lead mb.4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit temporibus iure assumenda ad commodi magni?
          Necessitatibus magni expedita ipsa optio incidunt ab unde in similique! Quibusdam libero vel quaerat corporis.
        </p>
          <div>
            <button class="btn btn-lg" style="background-color: #c8f500">CONOCER RUTINAS</button>
          </div>
      </div>
    </div>
  </div>

  <hr>

</div>