<div class="text-light" style="background-color: rgb(22, 23, 24);">

   <div class="main-bg shadow-lg text-center pt-5" style="height: 90vh;">
      <h1 class="display-1">
         <br><br>
         <b class="title"> <span class="title" style="color: #c8f500;">LOGRA</span> TUS METAS</b>
      </h1>

      <div class="col-lg-6 mx-auto">
         <p class="lead mb-4">Consigue de una vez el cuerpo ideal para ti, ya sea que quieras bajar de peso o tonificar
            tus músculos,</p>
      </div>
   </div>
   <br>
   <div class="py-5 px-1 m-3 shadow-lg light-bg rounded-3 row d-flex">
      <div class="text-center col-sm-12 col-lg-4">
         <h2 class="display-5">
            <b class="title">CÓMO ENTRENAMOS</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Les otorgamos a nuestros alumnos rutinas personalizadas según los planes que opten
               seguir. También les crearemos un usuario para acceder a su espacio donde pueden observar su propio
               seguimiento, sus asistencias, sus rutinas pendientes, y sus cuotas pagadas.</p>
         </div>
      </div>
      <div class="text-center col-sm-12 col-lg-8">
         <img class="img-fluid" src="../../../../assets/img/comoentrenamos.png" alt="Cómo entrenamos">
      </div>
   </div>

   <br>

   <div class="py-5 px-1 m-3 shadow-g light-bg rounded-3">
      <div class="text-center">
         <h2 class="display-5">
            <b class="title">PLANES</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Fitness para la gente, <i> a un precio para la gente:</i></p>
         </div>
         <br>
         <div class="row">
            <div class="mt-4 card bg-dark col-lg-4 col-sm-12 rounded-3 px-3 row mx-auto border-primary" style="width: 20rem;">
               <h4 class="text-center m-2 mx-auto bg-primary rounded-pill"><span class="px-4">PLAN BÁSICO</span></h4>
               <br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Entrena 3 días a la semana</li>
                  <br>
                  <li><i class="fa fa-running" aria-hidden="true"></i> Baja esos kilos de más</li>
                  <br>
                  <li><i class="fa fa-dollar-sign"></i> 300 mensuales</li>
               </ul>
            </div>
            <br>
            <div class="mt-4 card bg-dark col-lg-4 col-sm-12 rounded-3 px-3 row mx-auto" style="width: 20rem; border-color: #c8f500;">
               <h4 class="text-center m-2 mx-auto rounded-pill primary-custom"><span class="px-4">PLAN FULL</span></h4>
               <br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Entrena 5 días a la semana</li>
                  <br>
                  <li><i class="fa fa-running" aria-hidden="true"></i> Tonifica tus músculos</li>
                  <br>
                  <li><i class="fa fa-dollar-sign"></i> 500 mensuales</li>
               </ul>
            </div>
            <br>
            <div class="mt-4 card bg-dark col-lg-4 col-sm-12 rounded-3 px-3 row mx-auto border-info" style="width: 20rem;">
               <h4 class="text-center m-2 mx-auto bg-info text-dark rounded-pill"><span class="px-4">PLAN LIBRE</span>
               </h4><br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Escoge libremente los días que quieras
                     asistir
                  </li>
                  <br>
                  <li><i class="fas fa-hand-holding-usd"></i> Paga lo que entrenes</li>
                  <br>
               </ul>
            </div>
         </div>
      </div>
      <div>

      </div>
   </div>

   <br>

   <div class="py-5 px-1 m-3 shadow-lg light-bg rounded-3 row d-flex">
      <div class="text-center">
         <h2 class="display-5">
            <b class="title">NOSOTROS</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti temporibus
               quibusdam voluptas sint odit libero! Illo ab laboriosam delectus, odit odio voluptate harum culpa.
               Delectus
               doloremque nihil similique ipsum?</p> 
         </div>
      </div>
      <div>

      </div>
   </div>
   <br>
   <hr>
</div>
<app-footer></app-footer>