<div class="text-light">

   <div class="main-bg text-center pt-5" style="height: 90vh;">
      <h1 class="display-1">
         <br><br>
         <b class="title"> <span class="title" style="color: #c8f500;">LOGRA</span> TUS METAS</b>
      </h1>

      <div class="col-lg-6 mx-auto">
         <p class="lead mb-4">Consigue de una vez el cuerpo ideal para ti, ya sea que quieras bajar de peso o tonificar
            tus músculos,</p>
      </div>
   </div>
   <br>
   <div class="p-5 m-3 shadow">
      <div class="text-center">
         <h2 class="display-3">
            <b class="title">CÓMO ENTRENAMOS</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Les otorgamos a nuestros alumnos rutinas personalizadas según los planes que opten
               seguir. También les crearemos un usuario para acceder a su espacio donde pueden observar su propio
               seguimiento, sus asistencias, sus rutinas pendientes, y sus cuotas pagadas.</p>
         </div>
      </div>
      <div class="text-center">
         <img src="../../../../assets/img/comoentrenamos.png" alt="Cómo entrenamos">
      </div>
   </div>

   <br>

   <div class="p-5 m-3 shadow">
      <div class="text-center">
         <h2 class="display-3">
            <b class="title">PLANES</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Ofrecemos distintos planes según lo que necesites:</p>
         </div>
         <br>
         <div class="row">
            <div class="card bg-dark bg-gradient col-lg-4 col-sm-12 rounded-lg px-3 row mx-auto" style="width: 20rem;">
               <h4 class="text-center m-2 mx-auto bg-primary rounded-pill"><span class="px-4">PLAN BÁSICO</span></h4>
               <br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Entrena 3 días a la semana</li>
                  <br>
                  <li><i class="fa fa-running" aria-hidden="true"></i> Baja esos kilos de más</li>
                  <br>
                  <li><i class="fa fa-dollar-sign"></i> Precio único</li>
               </ul>
            </div>
            <br>
            <div class="card bg-dark bg-gradient col-lg-4 col-sm-12 rounded-lg px-3 row mx-auto" style="width: 20rem;">
               <h4 class="text-center m-2 mx-auto rounded-pill primary-custom"><span class="px-4">PLAN FULL</span></h4>
               <br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Entrena 5 días a la semana</li>
                  <br>
                  <li><i class="fa fa-running" aria-hidden="true"></i> Tonifica tus músculos</li>
                  <br>
                  <li><i class="fa fa-dollar-sign"></i> Precio único</li>
               </ul>
            </div>
            <br>
            <div class="card bg-dark bg-gradient col-lg-4 col-sm-12 rounded-lg px-3 row mx-auto" style="width: 20rem;">
               <h4 class="text-center m-2 mx-auto bg-info text-dark rounded-pill "><span class="px-4">PLAN LIBRE</span>
               </h4><br>
               <ul>
                  <li><i class="fa fa-calendar-alt" aria-hidden="true"></i> Escoge libremente los días que quieras
                     asistir
                  </li>
                  <br>
                  <li><i class="fas fa-hand-holding-usd"></i> Paga lo que entrenes</li>
                  <br>
               </ul>
            </div>
         </div>
      </div>
      <div>

      </div>
   </div>

   <br>

   <div class="p-5 m-3 shadow">
      <div class="text-center">
         <h2 class="display-3">
            <b class="title">NOSOTROS</b>
         </h2>

         <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti temporibus
               quibusdam voluptas sint odit libero! Illo ab laboriosam delectus, odit odio voluptate harum culpa.
               Delectus
               doloremque nihil similique ipsum?</p>
         </div>
      </div>
      <div>

      </div>
   </div>
   <hr>
</div>