<div class="container">
    <a class="btn" [routerLink]="['/entrenador/pagos',idalumno]"><i class="fa fa-caret-left text-custom"
        aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
<div class="row my-auto text-white">
    <div class="table-responsive">
        <table class="table table-dark table-striped" [mfData]="arraydePagos" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th scope="col">
                        <mfDefaultSorter by="_id">Fecha de Pago</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="monto">Monto</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="metodoPago">Metodo de Pago</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="cuota">Cuota</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="completo">Completo</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.fechaPago}}</td>
                <td>{{item.monto | currency: 'ARS ' }}</td>
                <td>{{item.metodoPago | uppercase}}</td>
                <td>{{item.cuota}}</td>
                <td scope="col">
                    <button type="button" class="btn outline-custom w-auto"
                        (click)="imprimirPago(item._id)">Imprimir</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
          </table>
    </div>
</div>