<div class="container">
    <div class="table-responsive">
        <table class="table table-dark table-striped" [mfData]="arraydePagos" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th scope="col">
                        <mfDefaultSorter by="_id">ID</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="monto">Monto</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="metodoPago">Metodo de Pago</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="cuota">Cuota</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        <mfDefaultSorter by="completo">Completo</mfDefaultSorter>
                    </th>
                    <th scope="col">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item._id}}</td>
                <td>{{item.monto}}</td>
                <td>{{item.metodoPago}}</td>
                <td>{{item.cuota}}</td>
                <td>{{item.metodoPago}}</td>    
                <td>{{item.completo}}</td>
                <td scope="col">
                    <button type="button" class="btn outline-custom w-auto"
                        (click)="imprimirPago(item._id)">Imprimir</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
          </table>
    </div>
</div>