
     <div class="container">
        <a class="btn" [routerLink]="['/entrenador/rutina']"><i class="fa fa-caret-left text-custom"
          aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
          <div class="table table-responsive">
            <table class="table table-dark table-striped" [mfData]="arrayRutina" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                  <tr>
                      <th scope="col">
                          <mfDefaultSorter by="_id">ID</mfDefaultSorter>
                      </th>
                      <th scope="col">
                          <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
                      </th>
                      <th scope="col">
                          <mfDefaultSorter by="nivel">Nivel</mfDefaultSorter>
                      </th>
                      <th scope="col">
                          Accion
                      </th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td>{{item._id}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.nivel}}</td>
                  <td scope="col">
                      <button type="button" class="btn outline-custom w-auto"
                          (click)="irEjercicio(item._id)">Agregar Ejercicio</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="4">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                  </tr>
              </tfoot>
            </table>
          </div>
          <!--<select name="planseleccionado" id="" [(ngModel)]="planseleccionado">
            <option *ngFor="let item of arraydePlan" [value]="item._id">{{item.tipo}}, Dias: {{item.cantidadDias}}</option>
          </select>
          <button (click)="buscarporPlan()">Buscar</button>
          <input [(ngModel)]="dni" type="number" class="form-control" name="dni" id="dni">
          <button (click)="buscarporDni()">Buscar</button>
        
          <button (click)="cargarAlumnos()">Restaurar Filtro</button>-->
        
          
        
        </div>
      
