<div class="p-1 text-light m-5 mb-5 rounded container">
      <h1 class="display"><b>Tus Rutinas</b></h1>
      <div class="row">
            <div class="col-12">
                  <p class="lead">Todas tus rutinas a seguir, los ejercicios que te tocan hoy y su orden a seguir, etc.
                        Verás un progreso cuando termines con cada una de ellas. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div *ngIf="bandera==false" class="container mt-1" >
            <div class="row row-cols-4 row gap-2 justify-content-center mx-3">
                  <div *ngFor="let item of arraydeRutinas" class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Nivel: {{item.nivel}}</li>
                          <li class="list-group-item">Nombre: {{item.nombre}}</li>
                          <li class="list-group-item">
                             <button class="btn btn-secondary" (click)="verEjercicio(item._id)">Ver Ejercicios</button>
                          </li>
                        </ul>
                  </div>
            </div>
      </div>
      <div *ngIf="bandera==true" class="container mt-1">
            <button class="btn btn-danger" (click)="carcelar()">Cerrar</button>
            <table class="align-middle table table-dark table-hover my-3  text-center">
                  <thead>
                      <tr>
                          <td>Descripcion</td>
                          <td>Zona</td>
                          <td>Repeticiones</td>
                          <td>Intensidad</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of arraydeEjercicios">
                          <td>{{item.descripcion}}</td>
                          <td>{{item.zona}}</td>
                          <td>{{item.repeticiones}}</td>
                          <td>{{item.intensidad}}</td>
                      </tr>
                  </tbody>
            </table>
      </div>
</div>
<br>