<div class="p-1 text-light m-5 mb-5 rounded">
      <h1 class="display"><b>Tus Rutinas</b></h1>
      <div class="row">
            <div class="col-8">
                  <p class="lead">Todas tus rutinas a seguir, los ejercicios que te tocan hoy y su orden a seguir, etc.
                        Verás un progreso cuando termines con cada una de ellas. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div class="row">
            <!--Calendario-->
            <div class="col-8">
                  <!--placeholder-->
                  <iframe
                        src="https://calendar.google.com/calendar/embed?src=iptto43c0jvvqnn606h6ht14kg%40group.calendar.google.com&ctz=America%2FArgentina%2FBuenos_Aires"
                        style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
                  </iframe>
            </div>
            <!--Estadísticas-->
            <div class="col-4">
              
            </div>
      </div>
</div>
<br>