<div class="p-1 text-light m-5 mb-5 rounded">
      <h1 class="display"><b>Tus Rutinas</b></h1>
      <div class="row">
            <div class="col-8">
                  <p class="lead">Todas tus rutinas a seguir, los ejercicios que te tocan hoy y su orden a seguir, etc.
                        Verás un progreso cuando termines con cada una de ellas. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div class="row">
            <!--Calendario-->
            <div class="col-8 row row-cols-4">
                  <div *ngFor="let item of arraydeRutinas" class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Nivel: {{item.nivel}}</li>
                          <li class="list-group-item">
                              <div *ngFor="let ejercicio of item.ejercicios" class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        {{ejercicio.zona}}
                                      </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">{{ejercicio.descripcion}}</div>
                                    </div>
                              </div>
                          </li>
                        </ul>
                      </div>
            </div>
            <!--Estadísticas-->
            <div class="col-4">
              
            </div>
      </div>
</div>
<br>