<header class="p-3 bg-dark text-white">
      <!--userbar (qsy como se llama)-->
      <div class="bg-dark bg-gradient">
            <div class="text-end">
                  <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown link
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                  </div>
            </div>
      </div>
      <!---->
      <div class="container">
            <div class="my-3 display-1 text-start"><b>¡Hola, &lt;username&gt;!</b></div>
            <div class="lead">En esta página podrás gestionar todo acerca de tu cursada, Podrás saber acerca de tus asistencias, tus rutinas a seguir, y tus pagos pendientes.
            </div>
      </div>
      <br><br>
      <!--nuevo nav-->
      <div>
            <nav class="nav-justified">
                  <!--ngStyle para cambiar color de pestaña seleccionada-->
                  <ul class="nav nav-tabs" style="border-bottom-color: #c8f500;">
                        <li class="nav-item">
                              <a class="nav-link" href="#" [ngStyle]="{'background-color' : tabAsist ? '#c8f500' : 'transparent'}" (click)="clickAsist()">
                                    <div [ngStyle]="{'color' : tabAsist ? 'black' : '#c8f500'}">Asistencias</div>
                              </a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="#" [ngStyle]="{'background-color' : tabRutina ? '#c8f500' : 'transparent'}" (click)="clickRutina()">
                                    <div [ngStyle]="{'color' : tabRutina ? 'black' : '#c8f500'}">Rutinas</div></a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="#" [ngStyle]="{'background-color' : tabPago ? '#c8f500' : 'transparent'}" (click)="clickPago()">
                                    <div [ngStyle]="{'color' : tabPago ? 'black' : '#c8f500'}">Pagos</div></a>
                        </li>
                  </ul>
            </nav>
      </div>
</header>