<div class="container text-center">
      <div class="text-white">
            <h1 class="title display-1">GESTIONAR RUTINAS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, doloremque neque nihil fuga aliquam
                  quisquam magni necessitatibus asperiores quas, possimus dolor cum, inventore quidem dolorum placeat
                  excepturi doloribus tempora ducimus sixtus.</p>
      </div>
      <div class="row gap-3">
            <div class="btn m-5 bg-dark card text-light col bg-gradient" style="border-color: #c8f500;"
                  (click)="goNuevaRutina()">
                  <div class="card-body">
                        <span class="text-custom">PASO 1</span>
                        <h4 class="card-title"><b>Generar Nueva Rutina</b></h4>
                        <h6 class="card-subtitle mb-2 text-muted"><small>Crea una rutina vacía</small></h6>
                        <p class="card-text">Cree nuevas rutinas desde aquí, las rutinas estarán sin contenido.
                              Especifique un nombre y un nivel para el alumno</p>
                  </div>
            </div>
            <div class="btn m-5 bg-dark card text-light col bg-gradient" style="border-color: #c8f500;"
                  (click)="goAddEjercicios()">
                  <div class="card-body">
                        <span class="text-custom">PASO 2</span>
                        <h4 class="card-title"><b>Añadir Ejercicios</b></h4>
                        <h6 class="card-subtitle mb-2 text-muted"><small>Llena las rutinas con ejercicios</small></h6>
                        <p class="card-text">Agregue nuevos ejercicios a las rutinas que creó. También puede eliminar
                              ejercicios existentes en rutinas</p>
                  </div>
            </div>
      </div>

</div>