<div class="container">
    <a class="btn" [routerLink]="['/entrenador/gestionar-alumno']"><i class="fa fa-caret-left text-custom"
            aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
    <div class="row my-auto text-white">
        <div class="col-lg-6 col-sm-12">
            <form class="mb-5 p-5 card bg-dark rounded bg-gradient" #rutinaForm="ngForm">
                Nombre:
                {{alumno.nombre}}, {{alumno.apellido}}
                <br>
                <br>
                Agregar Rutina:
                <select name="_id" id="" class="form-select form-select-sm mb-3" [(ngModel)]="idrutina._id">
                    <option *ngFor="let item of arraydeRutinas" [value]="item._id">{{item.nombre}}, Nivel: {{item.nivel}}
                    </option>
                </select>
                <div class="row">
                    <div class="d-grid mt-3 text-center">
                        <button class="btn btn-lg primary-custom" (click)="addRutina(rutinaForm)"><i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
                <br>
                <h5>Rutinas:</h5>
                <div class="table-responsive">
                    <table class="align-middle table table-borderless table-hover my-3 table-dark text-center">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Nivel</td>
                                <td>Ejercicio</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of arraydeRutinasAlumno;let indice=index">
                                <td>{{item.nombre}}</td>
                                <td>{{item.nivel}}</td>
                                <td><button class="btn btn-secondary" (click)="verEjercicios(item._id)">Ver Ejercicios</button></td>
                                <td><button class="btn btn text-light" (click)="deleteRutina(indice)"><i
                                            class="fa fa-times" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </form>
        </div>
        <div class="text-center col-lg-6 col-sm-12">
            <h1 class="title display-1">Añadir Rutina a Alumno</h1>
            <p class="lead">Complete las rutinas que creó añadiéndole ejercicios para realizar. Anote la zona a
                trabajar, la intensidad, las repeticiones y añada una descripción.<br>
            </p>

            <div *ngIf="bandera==true" class="table table-responsive">
                <button class="text-end btn btn-danger" (click)="cerrar()">Cerrar</button>
                <table class="align-middle table table-borderless table-hover my-3 table-dark text-center">
                    <thead>
                        <tr>
                            <td>Descripcion</td>
                            <td>Zona</td>
                            <td>Repeticiones</td>
                            <td>Intensidad</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arraydeEjercios">
                            <td>{{item.descripcion}}</td>
                            <td>{{item.zona}}</td>
                            <td>{{item.repeticiones}}</td>
                            <td>{{item.intensidad}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>