<div class="container">

      <div class="row py-5 my-auto text-white">
            <div class="col-lg-6 col-sm-12">
                  <form #nuevousuario="ngForm" class="mb-5 p-5 card bg-dark rounded bg-gradient">
                        <legend>Crear un nuevo usuario</legend><br>
                        Alumno:
                        <select name="idalumno" id="alumno" class="form-select " [(ngModel)]="idalumno"
                              #alumno="ngModel" required>
                              <option *ngFor="let item of arraydeAlumnos" [value]="item._id">Nombre: {{item.apellido}}
                                    {{item.nombre}}</option>
                        </select>
                        <div *ngIf="alumno.invalid && (alumno.dirty || alumno.touched)" class="p-0">
                              <div *ngIf="alumno.errors.required" class="text text-danger">
                                    <small>Campo obligatorio </small>
                              </div>
                        </div><br>
                        Nombre de Usuario:
                        <input type="text" name="username" id="username" class="form-control"
                              [(ngModel)]="usuario.username" #usuario="ngModel" required autocomplete=off>
                        <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="p-0">
                              <div *ngIf="usuario.errors.required" class="text text-danger">
                                    <small>Campo obligatorio </small>
                              </div>
                        </div><br>
                        Contraseña:
                        <input type="text" name="password" id="password" class="form-control"
                              [(ngModel)]="usuario.password" #contra="ngModel" required>
                        <div *ngIf="contra.invalid && (contra.dirty || contra.touched)" class="p-0">
                              <div *ngIf="contra.errors.required" class="text text-danger">
                                    <small>Campo obligatorio </small>
                              </div>
                        </div><br>
                        Foto de Perfil:
                        <small class="txtsmall">(Tamaño maximo de archivo 30KB)</small>
                        <input type="file" alife-file-to-base64 (onFileChanged)="onFileChanged($event)" name="img"
                              id="imagen" class="form-control">
                        <br>
                        <div *ngIf="imagennoagregada==false" class="text-center">
                              <img src="{{usuario.fotoperfil}}" height="100px" width="100px" alt="">
                        </div>
                        <br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn outline-custom" (click)="createUsuario(nuevousuario)"
                                    [disabled]="!nuevousuario.form.valid">Crear
                                    Usuario</button>
                        </div>
                  </form>
            </div>
            <div class="text-center col-lg-6 col-sm-12">
                  <h1 class="title display-1">GENERAR USUARIO</h1>
                  <p class="lead">Asígnele a sus alumnos un usuario para que accedan a su espacio y realizen un
                        auto-seguimiento de sus actividades. Introduzca un nombre de usuario único y una contraseña,
                        junto a una foto de perfil que identifique al alumno.<br>
                        Sólo podrá crear usuarios a alumnos que aún no posean uno.
                  </p>
                  <br>
                  <button (click)="irListaUsuarios()" class="btn outline-custom">Ver Lista Usuarios</button>
            </div>
      </div>

</div>