<div class="container">

      <div class="row py-5 my-auto text-white">
            <div class="col-lg-6 col-sm-12">
                  <form #nuevousuario="ngForm" class="mb-5 p-5 card bg-dark rounded bg-gradient">
                        <legend>Crear un nuevo usuario</legend><br>
                        Alumno:
                        <select name="idalumno" id="alumno" class="form-select mb-3" [(ngModel)]="idalumno">
                              <option *ngFor="let item of arraydeAlumnos" [value]="item._id">Nombre: {{item.apellido}}
                                    {{item.nombre}}</option>
                        </select>
                        Nombre de Usuario:
                        <input type="text" name="username" id="username" class="form-control"
                              [(ngModel)]="usuario.username" autocomplete=off><br>
                        Contraseña:
                        <input type="text" name="password" id="password" class="form-control"
                              [(ngModel)]="usuario.password"><br>
                        Foto de Perfil:
                        <small class="txtsmall">(Tamaño maximo de archivo 30KB)</small>
                        <input type="file" alife-file-to-base64 (onFileChanged)="onFileChanged($event)" name="img"
                              id="imagen" class="form-control">
                        <br>
                        <div *ngIf="imagennoagregada==false" class="text-center">
                              <img src="{{usuario.fotoperfil}}" height="100px" width="100px" alt="">
                        </div>
                        <br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                              <button type="button" class="btn outline-custom"
                                    (click)="createUsuario(nuevousuario)">Crear
                                    Usuario</button>
                        </div>
                  </form>
            </div>
            <div class="text-center col-lg-6 col-sm-12">
                  <h1 class="title display-1">Generar Usuario</h1>
                  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo aliquam quo, voluptatem
                        obcaecati
                        nemo explicabo dolore, a fugiat iusto aperiam consequatur? Aspernatur corporis voluptatum omnis
                        esse
                        explicabo voluptatem commodi vero, cachai? <br>
                  </p>
            </div>
      </div>

</div>