<div class="container text-light m-5 mb-5">
      <h1 class="display"><b>Tus Asistencias</b></h1>
      <div class="row">
            <div class="col-8">
                  <p class="lead">Aquí verás tu progreso durante tu cursada aquí, tus asistencias e inasistencias. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div class="row">
            <!--Calendario-->
            <div class="col-8">
                  <iframe
                        src="https://calendar.google.com/calendar/embed?src=iptto43c0jvvqnn606h6ht14kg%40group.calendar.google.com&ctz=America%2FArgentina%2FBuenos_Aires"
                        style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
                  </iframe>
            </div>
            <div class="col-4">
                  <div class="my-5 text-end">
                        <span class="display-5" style="color: #66ff99;">ASISTENCIAS: </span>
                        <span class="display-5">9</span>
                        <br>
                        <span class="display-5" style="color: #ff2e3c;">INASISTENCIAS: </span>
                        <span class="display-5">3</span>
                  </div>
            </div>
      </div>
</div>
<br>