.homepage-bg{
      background: url("../../../../assets/img/gym-background.png");
      background-position: 100%;
}

.add-bg{
      background: url("../../../../assets/img/add-alumno.jpg");      
      background-position: 100%;
}
