<app-entrenador-header></app-entrenador-header>
<div class="row text-white">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card bg-gradient bg-dark rounded btn btn-danger btn-border" (click)="goNuevoAlumno()"> <!--ni idea porque no logra andar el [routerLink]-->
                  <div class="card-body">
                        <h5 class="card-title display-6">Inscribir alumno</h5>
                        <h6 class="card-subtitle mb-3 text-muted lead">Anote nuevos alumnos</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                  </div>
            </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card bg-gradient bg-dark rounded btn btn-danger btn-border">
                  <div class="card-body">
                        <h5 class="card-title display-6">Generar Usuario</h5>
                        <h6 class="card-subtitle mb-3 text-muted lead">Asigne un usuario a un alumno</h6>
                        <p class="card-text">DEBE HABER UN USUARIO PREVIAMENTE CREADO</p>
                  </div>
            </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card bg-gradient bg-dark rounded btn btn-danger btn-border my-auto">
                  <div class="card-body">
                        <h5 class="card-title display-6">Seguimiento del Alumno</h5>
                        <h6 class="card-subtitle mb-3 text-muted lead">Observe y gestione el progreso del alumno</h6>
                  </div>
            </div>
      </div>
</div>