<div class="container">
    <div class="row py-5 my-auto text-white">
        <div class="col-lg-6 col-sm-12">
            <form #registroForm="ngForm" class="mb-5 p-5 card bg-dark rounded bg-gradient">
                <legend>Anotar un registro para el alumno</legend><br>
                <p class="mb-3">Alumno: {{alumno.nombre}}, {{alumno.apellido}}</p>
                <div class="mb-2">
                    Peso :
                    <input [(ngModel)]="vregistro.peso" type="number" name="peso" class="form-control" #peso="ngModel"
                        required ver-negativo>
                    <div *ngIf="peso.invalid && (peso.dirty || peso.touched)" class="p-0">
                        <div *ngIf="peso.errors.required" class="text text-danger">
                            <small>Campo obligatorio </small>
                        </div>
                        <div *ngIf="peso.errors.verNumNegativo" class="text text-danger">
                            <small> El peso tienen que ser mayor a 0 </small>
                        </div>
                    </div><br>
                    <label for="fecha" class="form-check-label">
                        Fecha de Registro</label>
                    <input [(ngModel)]="vregistro.fecha_registro" type="date" name="fecha" id="fecha"
                        class="form-control" #fecha="ngModel" required>
                    <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="p-0">
                        <div *ngIf="fecha.errors.required" class="text text-danger">
                            <small>Campo obligatorio </small>
                        </div>
                    </div>
                    Dieta:
                    <textarea rows="4" type="text" name="dieta" id="dieta" class="form-control"
                        [(ngModel)]="vregistro.dieta" #dieta="ngModel" required></textarea>
                    <div *ngIf="dieta.invalid && (dieta.dirty || dieta.touched)" class="p-0">
                        <div *ngIf="dieta.errors.required" class="text text-danger">
                            <small>Campo obligatorio </small>
                        </div>
                    </div><br>
                    <div>
                        Imagen:
                        <small class="txtsmall">(Tamaño maximo de archivo 30KB)</small>
                        <input type="file" alife-file-to-base64 (onFileChanged)="onFileChanged($event)" name="img"
                            id="imagen" class="form-control">
                        <br>
                        <table class="align-middle table table-borderless table-hover my-3 table-dark text-center">
                            <thead>
                                <tr>
                                    <td>Imagen</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arraydeImagenes;let indice=index">
                                    <td><img src="{{item}}" width="30px" height="30px" alt=""></td>
                                    <td><button class="btn text-light" (click)="eliminarImagen(indice)"><i
                                                class="fa fa-times" aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn outline-custom" (click)="addRegistro(registroForm)"
                            [disabled]="!registroForm.form.valid">Agregar
                            Registro</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-center col-lg-6 col-sm-12">
            <h1 class="title display-1">Agregar Registro</h1>
            <p class="lead">En este formulario se cargaran los registros que llevamos de cada alumno. Aca llevaremos su
                progreso a través de su peso, la fecha en la que se controla, la dieta que lleva, y sus avances mediante
                fotografias. <br>
            </p>
        </div>
    </div>

</div>