<div class="p-1 text-light m-5 mb-5 rounded">
      <h1 class="display"><b>Tus Asistencias</b></h1>
      <div class="row">
            <div class="col-8">
                  <p class="lead">Aquí verás tu progreso durante tu cursada aquí, tus asistencias e inasistencias. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div class="row">
            <!--Calendario-->
            <div class="col-8">
                  <table class="table table-dark table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Fecha de Asistencia</th>
                            <th style="text-align: right;">¿Asistió?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of arraydeAsistencias">
                            <td>{{item.fechaasistencia}}</td>
                          </tr>
                        </tbody>
                      </table>
            </div>
            <!--Estadísticas-->
            <div class="col-4">
                  <div class="my-5 text-end">
                        <span class="display-5" style="color: #83ff8d;">ASISTENCIAS: </span>
                        <span class="display-5">{{asistenciascont}}</span>
                  </div>
            </div>
      </div>
</div>
<br>