<div class="p-1 text-light m-5 mb-5 rounded">
   <div class="container">
      <div class="p-3 text-light mb-5 rounded container light-bg shadow h-100">
         <div class="m-3 text-center">
            <h1 class="title display-2">TUS ASISTENCIAS</h1>
            <p class="lead">El progreso de tus asistencias durante tu entrenamiento. Verás cuántas veces asististe y
               cuántas veces no, la hora a a la que asististe y la fecha.</p>
         </div>
         <br>
         <!--estadísticas-->
         <div class="text-center row d-flex col-6 mx-auto">
            <div class="col">
               <small style="color:rgb(108, 201, 115)">ASISTENCIAS: {{ asistenciascont }}</small>
            </div>
            <div class="col">
               <small style="color:rgb(209, 99, 99)">INASISTENCIAS: {{ asistenciascont }}</small>
            </div>
         </div>

         <!--table-->
         <div class="table-responsive text-center">
            <table class="table table-striped table-dark table-hover">
               <thead class="text-center">
                  <tr>
                     <th>Fecha</th>
                     <th>Hora de Asistencia</th>
                     <th>¿Asististe?</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of arraydeAsistencias">
                     <td>{{item.fechaasistencia}}</td>
                     <td>{{item.horaAsistencia}}</td>
                     <td>{{item.asistio | yesNo}}</td>
                  </tr>
               </tbody>
            </table>
         </div>

         <hr>
         <br>
      </div>
      <br>
   </div>