<div class="p-1 text-light m-5 mb-5 rounded">
      <h1 class="display"><b>Pagos mensuales</b></h1>
      <div class="row">
            <div class="col-8">
                  <p class="lead">Aquí puedes pagar las cuotas que te cobraremos por entrenar aquí. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Et voluptatum ex est non expedita sunt
                        reprehenderit fugiat
                        soluta praesentium perspiciatis. Commodi quo debitis quisquam earum eaque laboriosam repellendus
                        repellat
                        laudantium.</p>
            </div>
      </div>
      <div class="row">
            <!--Calendario-->
            <div class="col-8">
                  <!--placeholder-->
                  <iframe
                        src="https://calendar.google.com/calendar/embed?src=iptto43c0jvvqnn606h6ht14kg%40group.calendar.google.com&ctz=America%2FArgentina%2FBuenos_Aires"
                        style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
                  </iframe>
            </div>
            <!--Estadísticas-->
            <div class="col-4">
                  <div class="my-5 text-end">
                        <span class="display-5" style="color: #83ff8d;">ASISTENCIAS: </span>
                        <span class="display-5">9</span>
                        <br>
                        <span class="display-5" style="color: #ff8189;">INASISTENCIAS: </span>
                        <span class="display-5">3</span>
                  </div>
            </div>
      </div>
</div>
<br>