<div class="p-1 text-light m-5 mb-5 rounded">
   <div class="mx-auto container">
      <div class="row gap-2 justify-content-center mx-3">
         <div class="col-lg-3 col-sm-12 card text-dark h-100">
            <span class="m-2 h4 text-center gym-name"><b>RECIBO</b></span>
            <div class="row my-3 txtsmall">
               <div class="col-6 text-start">Monto: </div>
               <div class="col-6 text-end">$ bindingmonto</div>
               <hr>
               <div class="col-6 text-start">Fecha de Pago: </div>
               <div class="col-6 text-end"> bindingpago</div>
               <hr>
               <div class="col-6 text-start">Forma de Pago: </div>
               <div class="col-6 text-end"> bindingmetodo</div>
               <button class="btn btn-light mt-3"><i class="fa fa-print" aria-hidden="true"></i>
                  IMPRIMIR</button>
            </div>
         </div>
      </div>
   </div>
</div>