

<div class="mx-auto container">
   <a class="btn" (click)="goBack()"><i class="fa fa-caret-left text-custom"
      aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
   <div class="row gap-2 justify-content-center mx-3" >
      
      <div class="col-lg-3 col-sm-12 card text-dark h-100" id="pdf" >
         <img src="../../../../assets/img/Hercules black lg.png" alt="">
         <span class="m-2 h4 text-center gym-name"><b>RECIBO</b></span>
         <div class="row my-3 txtsmall">
            <div class="col-6 text-start">Monto: </div>
            <div class="col-6 text-end">$ {{pago.monto}}</div>
            <hr>
            <div class="col-6 text-start">Fecha de Pago: </div>
            <div class="col-6 text-end"> {{pago.fechaPago}}</div>
            <hr>
            <div class="col-6 text-start">Forma de Pago: </div>
            <div class="col-6 text-end"> {{pago.metodoPago}}</div>
         </div>
        
      </div>
      <div class="text-center">
      <button class="btn btn-light mt-3 btn-sm" (click)="pdf()"><i class="fa fa-print" aria-hidden="true"></i>
         IMPRIMIR</button>
      </div>
   </div>
</div>
