<div class="text-light container">
      <button class="btn btn-danger bg-gradient" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Volver</button>
      <h1 class="display-5"><b>Ingrese los datos del alumno</b></h1>
      <br>
      <form class="container px-auto">
            <label for="apnom" class="lead">Nombre y Apellido</label>
            <div class="row">
                  <div class="col">
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                  </div>
                  <div class="col">
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
                  </div>
            </div>
      </form>
</div>