/* You can add global styles to this file, and also import other style files */
*{
      font-family: Rubik;
}

.title{
      font-family: "Russo One";
}

.gym-font{
      font-size: 21px;
      font-family:Staatliches;
}

.txtsmall{
      font-size: 12px;
}

.text-custom{
      color:#c8f500;
}


.primary-custom{
      color: black;
      background-color: #c8f500;
}

/*botones*/

button.primary-custom{
      color: black;
      background-color: #c8f500;
}

button.primary-custom:hover{
      background-color: #a0c400;
}


button.outline-custom{
      color: white;
      border-color: #c8f500;
}

button.outline-custom:hover{
      color: black;
      background-color: #c8f500;
}