<div class="container">
      <a class="btn" [routerLink]="['/entrenador/verRutinas']"><i class="fa fa-caret-left text-custom"
                  aria-hidden="true"></i><span class="m-2 text-custom"> Volver</span></a>
      <div class="row my-auto text-white">
            <div class="col-lg-6 col-sm-12">
                  <form class="mb-5 p-5 card bg-dark rounded bg-gradient" #rutinaForm="ngForm">
                        Rutina:
                        {{rutina.nombre}} Nivel: {{rutina.nivel}}
                        <legend>Crear Ejercicios:</legend>
                        <div class="row">
                              <div class="rounded">
                                    <div class="row">
                                          <div class="col-6 mb-3">
                                                Descripción:
                                                <input type="text" name="descripcion" class="form-control"
                                                      [(ngModel)]="ejercicios.descripcion" autocomplete=off
                                                      #descripcion="ngModel" required sin-mayuscula>
                                                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                                      class="p-0">
                                                      <div *ngIf="descripcion.errors.required"
                                                            class="text text-danger is-invalid">
                                                            <small>Campo obligatorio </small>
                                                      </div>
                                                      <div *ngIf="descripcion.errors.sinLetraMayuscula"
                                                            class="text text-danger">
                                                            <small> La primera letra debe estar en mayúscula </small>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-6 mb-3">
                                                Zona:
                                                <select name="zona" class="form-select" [(ngModel)]="ejercicios.zona"
                                                      #zona="ngModel" required>
                                                      <option value="Brazo">Brazo</option>
                                                      <option value="Pierna">Pierna</option>
                                                      <option value="Espalda">Espalda</option>
                                                      <option value="Abdominal">Abdominal</option>
                                                      <option value="Pecho">Pecho</option>
                                                </select>
                                                <div *ngIf="zona.invalid && (zona.dirty || zona.touched)" class="p-0">
                                                      <div *ngIf="zona.errors.required" class="text text-danger">
                                                            <small>Campo obligatorio </small>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-6">
                                                Repeticiones:
                                                <input type="number" name="repeticiones" class="form-control"
                                                      [(ngModel)]="ejercicios.repeticiones" #repeticiones="ngModel"
                                                      required ver-negativo>
                                                <div *ngIf="repeticiones.invalid && (repeticiones.dirty || repeticiones.touched)"
                                                      class="p-0">
                                                      <div *ngIf="repeticiones.errors.required"
                                                            class="text text-danger">
                                                            <small>Campo obligatorio </small>
                                                      </div>
                                                      <div *ngIf="repeticiones.errors.verNumNegativo"
                                                            class="text text-danger">
                                                            <small> Las repeticiones tienen que ser mayor a 0 </small>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-6">
                                                Intensidad:
                                                <select name="intensidad" class="form-select"
                                                      [(ngModel)]="ejercicios.intensidad" #intensidad="ngModel"
                                                      required>
                                                      <option value="Baja">Baja</option>
                                                      <option value="Media">Media</option>
                                                      <option value="Alta">Alta</option>
                                                </select>
                                                <div *ngIf="intensidad.invalid && (intensidad.dirty || intensidad.touched)"
                                                      class="p-0">
                                                      <div *ngIf="intensidad.errors.required" class="text text-danger">
                                                            <small>Campo obligatorio </small>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="d-grid mt-3 text-center">
                                    <button class="btn btn-lg primary-custom" (click)="addEjerciciosRutina()"
                                          [disabled]="!rutinaForm.form.valid"><i class="fa fa-plus"
                                                aria-hidden="true"></i></button>
                              </div>
                        </div>
                        <br>
                        <h5>Ejercicios:</h5>
                        <div class="table-responsive" *ngIf="table">
                              <table
                                    class="align-middle table table-borderless table-hover my-3 table-dark text-center">
                                    <thead>
                                          <tr>
                                                <td>Descripción</td>
                                                <td>Zona</td>
                                                <td>Repetic.</td>
                                                <td>Intensidad</td>
                                                <td></td>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr *ngFor="let item of arraydeEjercicios">
                                                <td>{{ item.descripcion }}</td>
                                                <td>{{ item.zona }}</td>
                                                <td>{{ item.repeticiones }}</td>
                                                <td>{{ item.intensidad }}</td>
                                                <td><button class="btn text-light"
                                                            (click)="deleteEjercicio(item._id)"><i class="fa fa-times"
                                                                  aria-hidden="true"></i></button></td>
                                          </tr>
                                    </tbody>
                              </table>
                        </div>
                  </form>
            </div>
            <div class="text-center col-lg-6 col-sm-12">
                  <h1 class="title display-1">Añadir Ejercicios</h1>
                  <p class="lead">Complete las rutinas que creó añadiéndole ejercicios para realizar. Anote la zona a
                        trabajar, la intensidad, las repeticiones y añada una descripción.<br>
                  </p>
            </div>
      </div>

</div>