<header class="p-3 bg-dark text-white">

  <nav class="navbar navbar-expand-lg navbar-dark nav-fill">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="#"><i class="fa fa-dumbbell" aria-hidden="true"></i><b>ÉRCULES</b></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
          <!--Home page (visitante)-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">Inicio</a>
          </li>
          <li *ngIf="!loginserv.userLoggedIn()" class="nav-item">
            <a class="nav-link" href="#">Cómo entrenamos</a>
          </li>
          <li *ngIf="!loginserv.userLoggedIn()" class="nav-item">
            <a class="nav-link" href="#">Precios y Planes</a>
          </li>
          <li *ngIf="!loginserv.userLoggedIn()" class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>

          <!--Alumno-->
          <li *ngIf="loginserv.perfilLogged()=='alumno'" class="nav-item">
            <a class="nav-link" [routerLink]="['tusAsistencias']">Asistencias  </a>
          </li>
          <li *ngIf="loginserv.perfilLogged()=='alumno'" class="nav-item">
            <a class="nav-link" [routerLink]="['tusRutinas']">Rutinas</a>
          </li>          
          <li *ngIf="loginserv.perfilLogged()=='alumno'" class="nav-item">
            <a class="nav-link" [routerLink]="['tusPagos']">Tus Pagos</a>
          </li>

          <!--Entrenador-->
          <li *ngIf="loginserv.perfilLogged()=='entrenador'" class="nav-item">
            <a class="nav-link" href="#">Registrar Alumno</a>
          </li>          
          <li *ngIf="loginserv.perfilLogged()=='entrenador'" class="nav-item">
            <a class="nav-link" href="#">Generar Usuario</a>
          </li>          
          <li *ngIf="loginserv.perfilLogged()=='entrenador'" class="nav-item">
            <a class="nav-link" href="#">Generar Rutinas</a>
          </li>          
          <li *ngIf="loginserv.perfilLogged()=='entrenador'" class="nav-item">
            <a class="nav-link" href="#">Anotar pagos</a>
          </li>          
          <li *ngIf="loginserv.perfilLogged()=='entrenador'" class="nav-item">
            <a class="nav-link" href="#">Seguimiento</a>
          </li>
        </ul>

        <div class="d-flex">
          <button class="btn btn-block btn-sm me-2" style="background-color: #c8f500;" *ngIf="!loginserv.userLoggedIn()" [routerLink]="['login']">Iniciar Sesion</button>
          <button class="btn btn-block btn-sm me-2" style="background-color: #c8f500;" *ngIf="loginserv.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
          Cerrar Sesion {{loginserv.userLogged()}}
          </button>
        </div>
      </div>
    </div>
  </nav>
  
</header>